<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.iwantbuyer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!--支付权限-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--谷歌支付权限-->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!--友盟集成-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="net.iwantbuyer.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.iwantbuyer.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="net.iwantbuyer.activity.SecondPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.iwantbuyer.activity.ThirdPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.iwantbuyer.activity.WelcomeActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />

        <activity
            android:name="com.auth0.android.lock.LockActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyLockTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="luckybuyer.auth0.com"
                    android:pathPrefix="/android/net.iwantbuyer/callback"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.auth0.android.provider.WebAuthActivity"
            android:theme="@style/Lock.Theme" />
        <!-- 支付 -->
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentActivity"
            android:theme="@android:style/Theme.Dialog" />

        <!-- facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />
        <!--<meta-data-->
        <!--android:name="com.facebook.sdk.ApplicationId"-->
        <!--android:value="@string/app_id" />-->

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider255982704775897"
            android:exported="true" />


        <!--holypay支付所用的-->
        <!-- 登录界面 -->
        <activity
            android:name="com.halopay.openid.channel.ui.LoginActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"></activity>
        <!-- 注册界面 -->
        <activity
            android:name="com.halopay.openid.channel.ui.RegistActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"></activity>
        <!--  注册协议界面-->
        <activity
            android:name="com.halopay.openid.channel.ui.RegisterProtocolActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|navigation|layoutDirection|locale"></activity>
        <!--  忘记密码界面-->
        <activity
            android:name="com.halopay.openid.channel.ui.ForgotPasswordActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"></activity>
        <activity
            android:name="com.halopay.openid.channel.ui.ForgotSetPwdActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"></activity>

        <!-- 显示网页界面 -->
        <activity
            android:name="com.halopay.openid.channel.ui.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleInstance"></activity>

        <!-- 收银台-普通 -->
        <activity
            android:name="com.halopay.ui.activity.normalpay.PayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <!-- 收银台-爱贝币 -->
        <activity
            android:name="com.halopay.ui.activity.iapppay.IAppPayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent"></activity>

        <!-- 充值界面 -->
        <activity
            android:name="com.halopay.ui.activity.normalpay.ChargeActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"></activity>
        <!-- 用户选择设置界面 -->
        <activity
            android:name="com.halopay.ui.activity.SelectSettingsActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|navigation|layoutDirection|locale"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <!-- 用户输入金额充值界面 -->
        <activity
            android:name="com.halopay.ui.activity.PutAmountForChargeActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <!-- 分组弹出页面 -->
        <activity
            android:name="com.halopay.ui.activity.normalpay.PayTypeGroupsActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <!-- 填卡信息页面 -->
        <activity
            android:name="com.halopay.ui.activity.normalpay.CardInfoActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <!-- 反馈信息页面 -->
        <activity
            android:name="com.halopay.ui.activity.FeedBackActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <!-- 短代页面 -->
        <activity
            android:name="com.halopay.ui.activity.SmsPayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <service android:name="com.halopay.interfaces.SurveyService"></service>


        <!--更新推动服务页面-->
        <service android:name="net.iwantbuyer.sever.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name="net.iwantbuyer.sever.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--11.20号facebook sdk-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--友盟统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="584f6d37b27b0a635d0010a1" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="@string/channel" />
        <!--AppFlyer-->
        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
